<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,
        td {
            padding: 15px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Edit Student</h1><br>

            <td> <%= dataById.first_name %> </td>
            <td> <%= dataById.last_name %> </td>
            <td> <%= dataById.email %> </td>
            <td> <%= dataById.gender %> </td>
            <td> <%= dataById.birth_date %> </td>
       

        <form action="" method="post">
            <br><label >First name :</label><br>
            <input type="text" name="first_name" value="<%= dataById.first_name %>" required autofocus><br>
    
            <label >Last name :</label><br>
            <input type="text" name="last_name" value="<%= dataById.last_name %>" required><br>
    
            <label >Email :</label><br>
            <input type="text" name="email" value="<%= dataById.email %>" required><br><br>
            
            <label for="">Gender</label><br>
            <input type="radio" name="gender" value="male" required> Male<br>
            <input type="radio" name="gender" value="female"> Female<br><br>
    
            <label >Birth Date :</label><br>
            <input type="text" name="birth_date" placeholder="Ex : 15 Februari 1990" value="<%= dataById.birth_date %>" required><br><br>
    
            <button type="submit">Edit</button>
        </form>
</body>
</html>